name: CI-CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Backend
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/backend ./backend

      - name: Push Backend
        run: docker push ${{ secrets.DOCKER_USERNAME }}/backend

      - name: Build Frontend
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend ./frontend

      - name: Push Frontend
        run: docker push ${{ secrets.DOCKER_USERNAME }}/frontend